.weather{
  display : flex ;
  flex-direction : column ;
  padding:  10px;
  justify-content : center ; 
  width  :  100% ; 
  margin: 10px;
  

}

.weather-header {

  display : flex ; 
  flex-direction : row ; 
  justify-content: center;
  align-items:  center ;
  width : 100% 
}
.day {

  display : flex ; 
  flex-direction : column ; 
  justify-content: center;
  align-items:  center ;
  padding:   10px ;
  background-color:  beige;
  width : 100% 
}